<div class="login-body">
    
    <main class="form-signin w-100 m-auto">
          <h1 class="h3 mb-3 fw-normal">Please sign p</h1>
      
          <div class="form-floating">
            <input [(ngModel)]="user.name" type="text" class="form-control" id="floatingInput" placeholder="Name">
            <label for="floatingInput">Name</label>
          </div>
          <div class="form-floating mt-2">
            <input [(ngModel)]="user.lastname" type="text" class="form-control" id="floatingInput" placeholder="Last Name">
            <label for="floatingInput">Last Name</label>
          </div>
          <div class="form-floating mt-2">
            <input [(ngModel)]="user.identityDocument" type="text" class="form-control" id="floatingInput" placeholder="Identity Document">
            <label for="floatingInput">Identity Document</label>
          </div>
          <div class="form-floating mt-2">
            <input [(ngModel)]="user.username" type="text" class="form-control" id="floatingInput" placeholder="Username">
            <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating mt-2">
            <input [(ngModel)]="user.password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" [disabled]="disableButtoms" (click)="createUser()">Sign Up</button>
          <button class="w-100 mt-3 btn btn-lg btn-default" [disabled]="disableButtoms"  (click)="GoToBack()">I have an user</button>
          <p class="mt-5 mb-3 text-muted text-center">&copy; 2022 - Randy Dominguez</p>
      </main>
      
    </div>